@model FilterSchoolCal.Web.ViewModels.HomeViewModel
@using FilterSchoolCal.Web.Properties

@{
    ViewBag.Title = "Make my iCal";
}

<div class="row">
    <div class="col-md-12">
        <h2>Make my iCal</h2>
        <p>
            This page allows you to filter the School's giant iCal file by year and a few major sports, shrinking it down so that when you
            import it into your calendar you don't have School events on every day.
        </p>
        <p>
            <div class="alert alert-info">
                Generating calendar events for @Model.CalendarName
            </div>
        </p>
    </div>
</div>

@using(Html.BeginForm("Filter", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
<div class="row">
    <div class="col-md-12">
        <h2>What years are you interested in?</h2>
    </div>
</div>


<div class="row">
    @for (var i = 0; i < Model.Groups.Count; i += 2)
    {
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    @Html.HiddenFor(modelItem => modelItem.Groups[i].Name)
                    @Html.CheckBoxFor(modelItem => modelItem.Groups[i].Selected) @Model.Groups[i].Name
                </label>
            </div>
            <div class="checkbox">
                <label>
                    @Html.HiddenFor(modelItem => modelItem.Groups[i+1].Name)
                    @Html.CheckBoxFor(modelItem => modelItem.Groups[i+1].Selected) @Model.Groups[i+1].Name
                </label>
            </div>
        </div>
    }

@*
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Common) Common
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Reception) Reception
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr1) Yr1
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr2) Yr2
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr3) Yr3
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr4) Yr4
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr5) Yr5
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr6) Yr6
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr7) Yr7
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Yr8) Yr8
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.nthXI) nth XI
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(modelItem => modelItem.Swimming) Swimming
            </label>
        </div>
    </div>*@
</div>
<div class="row">
    <div class="col-md-2">
        <input type="submit" class="btn btn-info" value="Filter" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Review your selected events</h2>
    </div>
</div>
}
